{% load static %}

<!DOCTYPE html>
<html lang="en">
<header>
    <title>Resend Verification</title>
    <style></style>


</header>
<body>
    <div class="">

        <h3>Resend Verification</h3>

        <form method="POST">
            {% csrf_token %}
            <label for="trans_pin">Enter your email: </label>
    
            <input id="email" type="email" name="email" required>
            <br>
            <br>
            <button type="submit" id="next_btn" >Next</button>
        </form>

    </div>

</body>


<script>


</script>

</html>