{% load static %}
<!DOCTYPE html>
<html lang="en">
<header>
    <title>SignUp | Students</title>
    <style></style>


</header>
<body>
    <div class="">

        <h3>Signup as Students</h3>
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor  %}
        </ul>
        {% endif %}

        <form method="POST" action="" autocomplete="off">
            {% csrf_token %}
            {{ form.as_p }}
            
            <button type="submit">Signup</button>

        </form>

    </div>

</body>

<script src="{% static 'js/signup.js' %}"></script>
</html>