{% load static %}
<!DOCTYPE html>
<html lang="en">
<header>
    <title>Signup | Merchants</title>
    <style></style>


</header>
<body>
    <div class="">
        {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor  %}
            </ul>
        {% endif %}

        <h3>Signup as Merchants</h3>

        <form method="POST" action="" autocomplete="off">
            {% csrf_token %}
            {{ form.as_p }}
            
            <button type="submit">Signup</button>

        </form>



    </div>

</body>
<script src="{% static 'js/signup.js' %}"></script>
</html>