{% load static %}
<!doctype html>
<html lang="en">
	<head>
		{% include "head2.html" %}
	</head>

	<body>
	<nav class="navbar navbar-expand-lg navbar-light shadow-sm" style="background-color: white;">
		<div class="container-fluid">
			<a class="navbar-brand" href="#">
			<img src="{% static 'img/logo4.png' %}" width="" height="40px" alt="Logo">
			</a>
			<div class="nav-sec" id="">
				<ul class="navbar-nav ms-auto flex" style="margin-right: 200px;">
					<li class="nav-item ">
						<button class="btn-oacc-link" style="">
							<a class="" href="{% url 'choose_sign_student_merchant' %}" style="color: #40196d;">Open an account</a>
						</button>
					</li>
					<li class="nav-item">
				</ul>
			</div>
		</div>
	</nav>

	<div class="container">
		<div class="check-header">
			Please check that you are visiting the correct URL <a href="#">https://camptoken.com</a>
		</div>
		<div class="login-form">
			<h4 class="">Sign in to Camptoken</h4>
			<p class="form-explain">To sign, please type in the email address linked to your Camptoken account</p>

			{% if messages %}
				{% for message in messages %}
					{% if message.tags == "success" %}
						<div class="success-msg fade-in">
							<i class="fa-solid fa-circle-check"></i>
							{{ message }}
						</div>

					{% elif message.tags == "warning" %}

						<div class="warning-msg fade-in">
							<i class="fa-solid fa-circle-exclamation"></i>
							{{ message }} click <a href="{% url "request_verification" %}">here</a> to verify
						</div>
					
					{% else %}
						<div class="error-msg fade-in">
							<i class="fa-solid fa-circle-exclamation"></i>
							{{ message }}
						</div>
					{% endif %}
					
				{% endfor %}
			{% endif %}

			<br>

			<form method="POST" action="#" class="">
				{% csrf_token %}

				<div class="mb-3">
					<label for="id_email" class="form-label">Email address</label>
					{{ form.email }}
					<div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
				</div>
				<div class="mb-3">
					<label for="id_password" class="form-label">Password</label>
					{{ form.password }}
				</div>
				<div class="mb-3">
					<p class="forgot-password">Forgot Password? <a href="{% url 'password_reset' %}">Reset it</a></p>
				</div>
				<button type="submit" class="">Sign in</button>
			</form>

		</div>
	</div>


	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
	<script src="https://kit.fontawesome.com/5f0ec56c6d.js" crossorigin="anonymous"></script>
	<script>
	</script>


	</body>
</html>