<!DOCTYPE html>
<html lang="en">
<header>
    <title>Pay</title>
    <style></style>


</header>
<body>
    <div class="">

        <h3>Pay Merchant</h3>

        {% comment %} {% if messages %}
            {% for message in messages %}
                <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        {% endif %} {% endcomment %}

        <form method="POST" action="" autocomplete="off">
            {% csrf_token %}
            {{ form.as_p }}
            
            <button type="submit">Pay Merchant</button>

        </form>

        <p><a href="#"> PAY WITH QR CODE</a></p>

    </div>

</body>
</html>