{% load static %}
<!DOCTYPE html>
<html lang="en">
<header>
    <title>Pay</title>
    <style></style>


</header>
<body>
    <div class="">

        <h3>Pay Merchant</h3>

    
        <form method="POST" action="" autocomplete="off">

            {% csrf_token %}

            <label for="id_merchant_wallet_id">{{ form.merchant_wallet_id.label }}: </label>
            {{ form.merchant_wallet_id }}
            <br>

            <p id="wallet_id_msg"></p>

            <br>

            <label for="id_amount_id">{{ form.amount.label }}: </label>
            {{ form.amount }}

            <br>
            <br>
            
            <button type="submit">Pay Merchant</button>

        </form>
    
        
        <p><a href="#"> Pay with QrCode</a></p>


    </div>

</body>

<script src="{% static 'js/confirm_merchant.js' %}"></script>
</html>