<!DOCTYPE html>
<html lang="en">
<header>
    <title>Dashboard</title>
    <style></style>


</header>
<body>
    <div class="">

        <h1>Dashboard</h1>

        <h2>Welcome, {{first_name}} {{ last_name }}</h2>

        <p>Balance: {{ balance|floatformat:2 }}</p>
        <p>Wallet_ID: {{ wallet_id }}</p>


        <p><a href="{% url 'pay_merchant' %}">Pay</a></p>


        <p><a href="{% url 'fund_student_wallet' %}">Add Money</a></p>



        <div>
            <h3>Transaction History: </h3>

                <ul>
                    {% for date, transaction_group in transactions_by_date.items %}
                    <h3>{{date}}</h3>
                     <li>
                        {% for transaction in transaction_group %}
                        <h3>{% if transaction.type == 1 %} - {% elif transaction.type == 2 %} + {% endif %} {{transaction.amount}}</h3>
                        <p>{{transaction.recipient.business_name}}<p>
                        <p>{% if transaction.type == 1 %} Sent {% elif transaction.type == 2 %} Refunded {% endif %}</p>
                        <p>{{ transaction.date_added }}</p>
                        {% if transaction.type == 2 %}
                        {% elif transaction.type == 1 and transaction.was_refunded == False %}
                        {% else %}
                            <p> Was Refunded </p>
                        {% endif %}
                        <p>========================================</p>
                        {% endfor %}
                    </li>
                    {% endfor %} 
                <ul>
    

        </div>

        <p><a href="{% url 'logout' %}"> Logout</a></p>
        

    </div>

</body>
</html>