<!DOCTYPE html>
<html lang="en">
<header>
    <title>Dashboard</title>
    <style></style>


</header>
<body>
    <div class="">

        <h1>Dashboard</h1>

        <h2>Welcome, {{ business_name|upper }}</h2>

        <p>Balance: {{ balance|floatformat:2 }}</p>
        <p>Wallet_ID: {{ wallet_id }}</p>


        <p><a href="#">Pay</a></p>

        <div>
            <h3>Transaction History: </h3>
            
            <ul>
                {% for transaction in trans_history %}
                <li>
                    <h3>{{transaction.amount}}</h3>
                    <p>{{transaction.sender.first_name}} {{transaction.sender.last_name}}<p>
                    <p>{% if transaction.type == 1 %} Recieved {% elif transaction.type == 2 %} Refunded {% endif %}</p>
                    <br>
                </li>
                {% endfor %}
            <ul>

        </div>

    

        <p><a href="{% url 'logout' %}"> Logout</a></p>
        

    </div>

</body>
</html>