{% load static %}
<!doctype html>
<html lang="en">
  <head>
	{% include "head2.html" %}
  </head>
  <body>
    {% include "nav-signed.html" %}

    <div class="container d-flex justify-content-center">

        <div class="pay-contain">
            <div class="pay-heading text-center">
                <span>Pay Merchants</span>
            </div>
			
            <div class="pay-merchant-form">
                <div class="prm-color-grey text-center">
                    <span style="font-size: 14px;" >NGN Balance: ₦{{ user.balance|floatformat:"2g" }}</span>
                </div>

                <div id="merchant-id-section" class="mb-6 go-down-md">
                    <label for="id-merchant-id" class="form-label">Merchant Wallet ID </label>
                    <input type="number" class="form-control" id="id-merchant-id" aria-describedby="emailHelp">
                    <div id="show_merchant" class=""></div>
                </div>

                <div class="mb-3 go-down-sm">
                    <label for="amount" class="form-label">Amount</label>
                    <input type="number" class="form-control" id="amount" placeholder="₦0.00" disabled>
                </div>
                <button id="next-btn" type="button" class="bg-prm-color go-down-md" data-bs-toggle="modal" data-bs-target="#staticBackdrop" disabled>Next</button>
            </div>
		</div>

		<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
			  <div class="modal-content">
		  
				<!-- Modal body -->
				<div class="modal-body">



					<h4 class="modal-title con modal_head"style="text-align: center;">Confirm</h4>

					<div style="margin-top: 30px;"></div>


					<div class="row pay_confirm">

						<div class="confirm_merchant" style="float: left; width: 85%;">
							<div class="row pay_detail">To</div>
							<div id="modal-merchant-name" class="row"></div>
						</div>

						<div class="confirm_amount" style="float: left; width: 15%;">
							<div class="row pay_detail">Amount</div>
							<div id="modal-amount" class="row"></div>
						</div>

					</div>

					<div style="margin-top: 20px;"></div>


					<h5 class="modal-title con" style="text-align: center;">Enter Pin</h5>



					<div class="row text-center">

						<form>
							<div id="pin-inputs-field" class="form-group pin-input">

								<input type="password"  maxlength="1" pattern="[0-9]+" required />
								<input type="password"  maxlength="1" pattern="[0-9]+" required />
								<input type="password"  maxlength="1" pattern="[0-9]+" required />
								<input type="password"  maxlength="1" pattern="[0-9]+" required />
							</div>
						</form>

					</div>

					<div id="incorrect-pin-msg" class="prm-color-red text-center go-down-sm bold-sm" style="font-weight: 700;"></div>

					<div style="margin-top: 30px;"></div>

					<div class="row text-center">

						<div class="col pay-cancel">
							<button type="button" style="color: #40196d;" data-bs-dismiss="modal">Cancel</button>
						</div>

						<div class="col pay-button">
							{% comment %} <button id="pay-btn" class="bg-prm-color" type="button" data-bs-target="#staticBackdrop2" data-bs-toggle="modal" data-bs-dismiss="modal" disabled>Pay</button> {% endcomment %}
							<button id="pay-btn" class="bg-prm-color" type="button"  disabled>Pay</button>
						</div>

					</div>


					  
				</div>
		  
			  </div>
			</div>
		</div>


		<div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">


					<div class="modal-body">
						<div class="text-center">
							<img id="pay_suc_or_fail_img" width="70" height="70" alt="success or fail">
						</div>

						<div class="pay-success-info text-center">

							<h2 id="pay-success-fail-info" class="go-down-sm"></h2>

							<p id="pay-success-fail-reciept-no" class="go-down-md reciept-no">Reciept No: 5dc3790abfde4cbdd309432</p>

							<p id="redirect-msg" class="">Redirecting you in 3...</p>
						</div>


					</div>
				
				</div>
			</div>
		</div>
	

    </div>


    </div>


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
	<script src="https://kit.fontawesome.com/5f0ec56c6d.js" crossorigin="anonymous"></script> 
	<script src="{% static 'js/pay_merchant.js' %}" type="module"></script>
	<script src="{% static 'js/pin_input.js' %}"></script>
	<script>
		document.addEventListener('DOMContentLoaded', function() {
		const navbarToggler = document.querySelector('.navbar-toggler');
		navbarToggler.addEventListener('click', function() {
			if (navbarToggler.classList.contains('collapsed')) {
			navbarToggler.innerHTML = '<span class="fa-solid fa-bars"></span>';
			} else {
			navbarToggler.innerHTML = '<span class="fa-solid fa-xmark"></span>';
			}
		});
		});

	</script>

  </body>
</html>