{% load static %}
<!DOCTYPE html>
<html lang="en">
<header>
    <title>Pay Success</title>




</header>
<body>
    <div class="">
        
        <h1 style="text-align: center;"></h1>
        <br>
        {% if transaction.was_refunded == True %}

            <h1 style="text-align: center;">#{{ transaction.amount }}</h1>
            <br>
            <h1 style="text-align: center;">{% if transaction.status == 1 %} SUCCESS! {% elif transaction.status == 0  %} FAILED {% endif %}</h1>
            <br>
            <h1 style="text-align: center;"> WAS REFUNDED TO {{ transaction.sender.first_name }} {{ transaction.sender.last_name }}</h1>
            <br>
            <h1 style="text-align: center;">{{ transaction.recipient|upper }}</h1>
            <br>
            <br>
            <h1 style="text-align: center;">RECIPT NO: {{ transaction.transaction_id }}</h1>

        <a href="{% url 'dashboard_student' %}">Go back to Dashboard</a>

        {% else %}
            <h1 style="text-align: center;">Was NOT REFUNDED</h2>
            <h1 style="text-align: center;">RECIPT NO: {{ transaction.transaction_id }}</h1>
            
            <a href="{% url 'dashboard_student' %}">Go back to Dashboard</a>
        {% endif %}

    </div>

</body>


</html> 